@model IMDB.ViewModels.ActorViewModel

@{
    ViewData["Title"] = "add";
   // SelectList movies = new SelectList(ViewBag.Movie, "Title", "Mediaid"); 
}

<h1>add</h1>

<h4>ActorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4"> 
        <form asp-action="add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BIO" class="control-label"></label>
                <textarea asp-for="BIO" placeholder="please enter bio here" class="form-control"></textarea>
                <span asp-validation-for="BIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input type="file" name="file" asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>

</div>
<div>
    <a asp-controller="Actor" asp-action="setactortomovie">Set actor to movie</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
